.card{
    width: 70%;
    height: 100vh;
    background-color: #ffffff;
}

body {
    width: 1440px;
    font-family: 'Overpass', sans-serif;
    background: linear-gradient(hsl(266, 45%, 49%), hsl(265, 32%, 51%), hsl(228, 45%, 44%));
}

main{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.card{
    display: flex;
    background-color: #ffffff;
    border-radius: 30px;
    width: 70%;
    height: fit-content;
    box-sizing: border-box;
    padding: 30px;
}

.card-img{
    /* position: absolute; */
    margin-right: 32px;
}

.card-ask__answer{
    margin: 16px 0;
}

.card-ask__answer-p-answer{
    display: none;
}

h1 {
    font-size: 32px;
    font-weight: bold;
}

.box{
    position: absolute;
    top: 250px;
    left: 230px;
}

.showMessage{
    /* border: none; */
    width: 20px;
    height: 20px;
    display: flex;
    background-color: papayawhip;
}

.showMessage:focus{
}