.card{
    width: 70%;
    height: 100vh;
    background-color: #ffffff;
}

body {
    width: 1440px;
    font-family: 'Overpass', sans-serif;
    background: linear-gradient(hsl(266, 45%, 49%), hsl(265, 32%, 51%), hsl(228, 45%, 44%));
}

main{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    display: flex;
    background-color: #ffffff;
    border-radius: 30px;
    width: 70%;
    height: fit-content;
    box-sizing: border-box;
    padding: 30px;
}

.card-img{
    /* position: absolute; */
    margin-right: 32px;
}

.box{
    position: absolute;
    top: 350px;
    left: 250px;
}

.card-ask__answer{
    margin: 32px 0 16px 0;
    display: flex; 
    justify-content: space-between;
    
}

.card-ask__answer-p-answer{
    display: none;
    /* border-bottom: 1px solid rgb(204, 204, 204); */
}

h1 {
    font-size: 32px;
    font-weight: bold;
}

.showMessage{
    /* border: none; */
    border: none;
    background-color: white;
    margin-left: 90px;
    transition: 0.5s;
    cursor: pointer;
}

.showMessage:hover{
    transform: scale(1.1) rotate(45deg);
}

.arrow {
    border: 1px solid rgb(241, 204, 144);;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 5px;
  }

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.showMessage:focus{
}

@media screen and (max-width: 560px) {
    body{
        /* background: linear-gradient(hsl(266, 45%, 49%), hsl(265, 32%, 51%), hsl(228, 45%, 44%));
        background-repeat: no-repeat; */
    }

    main{
        display: block;
    }

    .card{
        width: 0 auto;
        display: block;
    }

    .box{
        height
    }

    .card-img{
        text-align: center;
    }
}